.markdown > * {
  all: revert;
}

.markdown-container {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .markdown-container {
    width: 75%;
  }
}

html, body {
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.custom-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
  background: transparent; /* Optional: just make scrollbar invisible */
}


@tailwind base;
@tailwind components;
@tailwind utilities;
