.markdown > * {
  all: revert;
}

.markdown-container {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  border: 2px solid red;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .markdown-container {
    width: 75%;
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;
