.markdown > * {
  all: revert;
}

.markdown a {
  color: #920025;
  transition: color 0.3s ease;
}

.markdown a:hover {
  color: #603b61; /* This is the purple color used in your hexagons */
}

.markdown-container {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .markdown-container {
    width: 75%;
  }
}

.disclaimer {
  color: red;
  font-style: italic;
}

.markdown table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1rem;
  color: #ffebcd;
  border: 1px solid #ffebcd;
  font-size: 0.9em;

}

.markdown th,
.markdown td {
  border: 1px solid #ffebcd;
  padding: 12px 15px;
  text-align: left;
}

.markdown th {
  background-color: #603b61;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;

}

.markdown tr {
  background-color: rgba(96, 59, 97, 0.1);
}

.markdown tr:nth-child(even) {
  background-color: rgba(96, 59, 97, 0.2);
}

.markdown tr:hover {
  background-color: rgba(96, 59, 97, 0.3);
}

/* Ensure left alignment for all cells */
.markdown th,
.markdown td {
  text-align: left !important;
}

/* Add some spacing between columns */
.markdown th:not(:last-child),
.markdown td:not(:last-child) {
  padding-right: 20px;
}


html, body {
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.markdown-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.markdown-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Apply these styles to the body and html elements to hide scrollbars globally */
body, html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

body::-webkit-scrollbar, 
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

@tailwind base;
@tailwind components;
@tailwind utilities;